/bin/
/.vs/
/obj/
*.exe
*.sln.DotSettings.user
/_ReSharper.Caches/

*.scc
*.vssscc
#*.*
#!*.cs
#!*.csproj
#!*.xaml
#!*.config
#!*.h

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vs10x
*.g.cs
*.sbr
*.baml
*.exe.config
mt.dep
*.ncb
*.suo
!*.csproj.user
!*.vcproj.user
*_Resharper*
*.tlb
*.tlh
*.bak
*.cache
*.idb
*.metadata
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
obj/
[Rr]elease*/
_ReSharper*/
*.csproj.user
*.csprojBackup
*.orig
